version: '3'

services:
  python:
    build:
      context: .
      dockerfile: ./docker/python/Dockerfile
    container_name: python
    hostname: python
    volumes:
      - ./python-src:/src
    ports:
      - '8000:8000'
    depends_on:
      - db

  node:
    build:
      context: .
      dockerfile: ./docker/node/Dockerfile
    environment:
      - NODE_ENV=${NODE_ENV}
    tty: true
    container_name: node
    hostname: node
    command: sh -c 'cd src && yarn start'
    volumes:
      - ./node-src:/src
    ports:
      - '3000:3000'

  nginx:
    image: nginx:latest
    volumes:
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    ports:
      - '80:80'
    depends_on:
      - python
      - node

  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - '5432:5432'

  redis:
    image: redis:alpine
    ports:
      - '6379:6379'

